
  <!-- <center><h3>ЯРІК РОБИ КУРСАЧ</h3></center> -->
  {{#if user}}
    <a href="/work/main">Робочий кабінет</a>
    <a href="/basket" id="koshek">Кошик</a>
  {{/if}}

  <center><h3>KPI-sale</h3></center>
  <div>
        <div style = "position:relative left:20px">
          <ul class="nav nav-pills center" style = "text-align:center">
            <li><a href="/">Послуги</a></li>
            <li><a href="/">Канцелярія</a></li>
            <li><a href="/">Б/в техніка</a></li>
            <li><a href="/">Інструменти та обладнання</a></li>
            <li><a href="/">Одяг</a></li>
            <li><a href="/">Оренда</a></li>   
            <li><a href="/">Віддам даром</a></li>         
            <li><a href="/">Інше</a></li>         
      </div>
  </div>
  {{#if user}}
    {{#if users}}
      <table align="center" border="1">
      <tr>
        <th>Назва</th>
        <th>Категорія</th>
        <th>Ціна</th>
        <th>Власник</th>
        <th>В кошик</th>  
      </tr>
        {{#each users}}
          {{#each usercoms}}
            <tr>
              <td>{{comname}}</td>
              <td>{{categ}}</td>
              <td>{{price}}</td>
              <td>{{username}}</td>
              <td>
                <button class="btn btn-primary"  value="{{id}}+{{username}}" onclick="addProduct(this.value);">
                Додати</button>
              </td> 
            </tr>
          {{/each}}
        {{/each}}
     </table>

    {{else}}
      <p><b>Нажаль ніхто ще не додав товарів</b></p>
    {{/if}}

    <form method="post" align="center" action="/">
      <button type="submit" class="btn btn-default">Оновити</button>
    </form>
  {{/if}}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
  let basket = 0;
  function addProduct (obj){
    koshek.text = "Кошик: " + (++basket);
    let [id, owner] = obj.split("+");
    //test
    console.log(id, owner);
    axios.post('/basket', {
      id: id,
      owner: owner
    })
    .then(function (response) {
      console.log(response);
    })
    .catch(function (error) {
      console.log(error);
    });
  }
</script>