
  <!-- <center><h3>ЯРІК РОБИ КУРСАЧ</h3></center> -->
  {{#if user}}
    <a href="/work/main">Робочий кабінет</a>
    <a href="/basket" id="koshek">Кошик</a>
  {{/if}}

  <center><h3>KPI-sale</h3></center>
  <div>
        <div style = "position:relative left:20px">
          <ul class="nav nav-pills center" style = "text-align:center">
            <li><a onclick="getProducts('All')">Все</a></li>      
            <li><a onclick="getProducts('Послуги')">Послуги</a></li>
            <li><a onclick="getProducts('Канцелярія')">Канцелярія</a></li>
            <li><a onclick="getProducts('Б/в техніка')">Б/в техніка</a></li>
            <li><a onclick="getProducts('Інструменти та обладнання')">Інструменти та обладнання</a></li>
            <li><a onclick="getProducts('Одяг')">Одяг</a></li>
            <li><a onclick="getProducts('Оренда')">Оренда</a></li>   
            <li><a onclick="getProducts('Віддам даром')">Віддам даром</a></li>         
      </div>
  </div>
  <div id="sales">
  {{#if user}}
    {{#if users}}
      <table align="center" border="1">
      <tr>
        <th>Назва</th>
        <th>Категорія</th>
        <th>Ціна</th>
        <th>Власник</th>
        <th>В кошик</th>  
      </tr>
        {{#each users}}
          {{#each usercoms}}
            <tr>
              <td>{{comname}}</td>
              <td>{{categ}}</td>
              <td>{{price}}</td>
              <td>{{username}}</td>
              <td>
                <button class="btn btn-primary"  value="{{id}}+{{username}}" onclick="addProduct(this.value);">
                Додати</button>
              </td> 
            </tr>
          {{/each}}
        {{/each}}
     </table>

    {{else}}
      <p><b>Нажаль ніхто ще не додав товарів</b></p>
    {{/if}}

    <form method="post" align="center" action="/">
      <button type="submit" class="btn btn-default">Оновити</button>
    </form>
  {{else}}
    {{#if users}}
      <table align="center" border="1">
      <tr>
        <th>Назва</th>
        <th>Категорія</th>
        <th>Ціна</th>
        <th>Власник</th>
      </tr>
        {{#each users}}
          {{#each usercoms}}
            <tr>
              <td>{{comname}}</td>
              <td>{{categ}}</td>
              <td>{{price}}</td>
              <td>{{username}}</td>
            </tr>
          {{/each}}
        {{/each}}
     </table>
    {{else}}
      <p><b>Нажаль ніхто ще не додав товарів</b></p>
    {{/if}}

  {{/if}}
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
  let basket = 0;
  let arr_Products = null;
  function addProduct(obj) {
    koshek.text = "Кошик: " + (++basket);
    let [id, owner] = obj.split("+");
    //test
    console.log(id, owner);
    axios.post('/basket', {
      id: id,
      owner: owner
    });
  }

  function getProducts(data) {
    let type = data;
    axios.get('/product', {
      params: {
      type: type
      }
    })
    .then(response =>{
      if(response.data.data === "unreg") alert('Зарееструйтесь!!');
      else {
        arr_Products = response.data.data;
        console.log(arr_Products);
      }
    });
  }
</script>